<!-- templates/data/listrobes.html-->
{% extends 'data/base_footer_with_copyright.html' %}
{% load static %}

{% block title %}Listrobes: Quick vocabulary review{% endblock %}

{% block content %}
<div id="root"></div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'listrobes-bundle.js' %}"></script>
{% endblock %}

{% block footer %}
<div style="display:flex; justify-content: center; padding-bottom: 2em">
  <a style="width: 90%" href="{% url 'home' %}" class="btn btn-primary btn-user btn-block"><i class="fas fa-arrow-left"></i> Return to the Dashboard</a>
</div>
{% endblock %}
