version: "3.2"

volumes:
  # for persistence between restarts
  postgres_data: {}

services:
  transcrobes:
    build:
      context: .
      args:
        requirements: requirements.dev.txt
    environment:
      - DJANGO_SETTINGS_MODULE=transcrobes.settings.dev
      - PYTHONDONTWRITEBYTECODE=1
    volumes:
      - ./:/app
    ports:
      - "127.0.0.1:8000:8000"
    networks:
      - main
    depends_on:
      - db

#   ankrobes:
#     image: registry.gitlab.com/transcrobes/transcrobes/tc_ankrobes:v1
#     ports:
#       - "127.0.0.1:27701:27701"
#     networks:
#       - main  # Add the container to the network "main"
#     expose:
#       - 27701
#
#   corenlp:
#     image: registry.gitlab.com/transcrobes/transcrobes/corenlp/chinese:3.9.2
#     ports:
#       - "9000:9000"
#     networks:
#       - main  # Add the container to the network "main"
#
#   apache:
#     image: httpd:2.4
#     ports:
#       - "443:8443"
#
  db:
    image: postgres:11
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ze_big_bad_passwd
    ports: #make db accessible locally
      - "127.0.0.1:5432:5432"
    networks:
      - main  # Add the container to the network "main"

networks:
  main:
