beautifulsoup4
certifi
chardet
decorator
Django
django-appconf
django-axes
django-cors-headers
django-ipware
django-survey-and-report
djangorestframework-simplejwt
gunicorn
idna
Markdown
psycopg2-binary
pytz
requests
Send2Trash
soupsieve
urllib3
xmltodict
wheel
git+https://github.com/AntonOfTheWoods/django-wsgi.git
