beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
decorator==4.3.0
Django==2.1.3
idna==2.7
Markdown==3.0.1
psycopg2-binary==2.7.6.1
PyAudio==0.2.11
pytz==2018.7
requests==2.20.1
Send2Trash==1.5.0
urllib3==1.24.1
