<!-- templates/registration/password_reset_done.html -->
{% extends 'data/unauth-base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                <p class="mb-4">
                  {% blocktrans %}We have sent you an email with a link to reset your password.
                  Please check your email and click the link to continue.{% endblocktrans %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
