<!-- templates/registration/password_change_form.html -->
{% extends "registration/registration_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Change your password</h1>
                <p class="mb-4"></p>
              </div>
              <form method="post" class="user">
                {% csrf_token %}
                <div class="form-group">
			            {% render_field form.old_password class+="form-control form-control-user" aria-describedby="passwordHelp" placeholder="Old Password" %}
                </div>
                {% if form.old_password.errors %}
                <div class="form-group form-error">
                  {{ form.old_password.errors }}
                </div>
                {% endif %}

                <div class="form-group">
				          {% render_field form.new_password1 class+="form-control form-control-user" aria-describedby="passwordHelp" placeholder="New Password"%}
                </div>
                <div class="form-group">
                  {{ form.new_password1.help_text }}
                </div>
                {% if form.new_password1.errors %}
                <div class="form-group form-error">
                  {{ form.new_password1.errors }}
                </div>
                {% endif %}
                <div class="form-group">
				          {% render_field form.new_password2 class+="form-control form-control-user" aria-describedby="passwordHelp" placeholder="Repeat New Password"%}
                </div>
                {% if form.new_password2.errors %}
                <div class="form-group form-error">
                  {{ form.new_password2.errors }}
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-user btn-block">Change password</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
