<!-- accounts/templates/django-registration/registration_complete.html -->
{% extends 'data/unauth-base.html' %}

{% block title %}Registration started{% endblock %}

{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Create a Transcrobes account!</h1>
          </div>

          <div class="text-center">
            <p>An email has been sent to the email address you provided for validation, please click in the link in the email so we can validate we have a reliable way to contact you about the live Transcrobes service.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
