interactions:
- request:
    body: "[{\"Text\": \"\u4E00\u62E5\u800C\u4E0A\"}]"
    headers:
      Content-type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - a_very_secret_key
      X-ClientTraceId:
      - 74af7231-5129-422c-82f8-cac088889183
    method: POST
    uri: https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&from=zh-Hans&to=en&includeAlignment=True
  response:
    body:
      string: '[{"translations":[{"text":"Swarmed.","to":"en","alignment":{"proj":"0:3-0:7"}}]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MT-System:
      - Microsoft
      X-Metered-Usage:
      - '4'
      X-RequestId:
      - TRAN.TYO1.0015.0912T0254.75E83D
    status:
      code: 200
      message: OK
[...]
- request:
    body: "[{\"Text\": \"\u9F99\u95E8\u77F3\u7A9F\"}]"
    headers:
      Content-type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - a_very_secret_key
      X-ClientTraceId:
      - 59a2c521-c113-4bb2-b710-2156f1140a86
    method: POST
    uri: https://api.cognitive.microsofttranslator.com/transliterate?api-version=3.0&from=zh-Hans&to=en&language=zh-Hans&fromScript=Hans&toScript=Latn
  response:
    body:
      string: "[{\"text\":\"l\xF3ng m\xE9n sh\xED k\u016B\",\"script\":\"Latn\"}]"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Metered-Usage:
      - '4'
      X-RequestId:
      - TLIT.TYO1.0018.0912T0254.65FB24
    status:
      code: 200
      message: OK
version: 1
