interactions:
- request:
    body: "[{\"Text\": \"\u9F99\u95E8\u77F3\u7A9F\"}]"
    headers:
      Content-type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - a_key_that_isnt_really_private
      X-ClientTraceId:
      - de47c67b-23ed-463c-85c6-a7eeff9c8f9b
    method: POST
    uri: https://api.cognitive.microsofttranslator.com/transliterate?api-version=3.0&from=zh-Hans&to=en&language=zh-Hans&fromScript=Hans&toScript=Latn
  response:
    body:
      string: '{"error":{"code":401000,"message":"The request is not authorized because
        credentials are missing or invalid."}}'
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-RequestId:
      - TLIT.TYO1.0016.0114T0543.1304D6DD
    status:
      code: 401
      message: Unauthorized
version: 1
