<!-- templates/data/reader_settings.html-->
{% extends 'data/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Reader settings{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Reader settings</h1>
</div>

<div class="row">
  <div class="col-xl-8 col-lg-7">
    <form class="user" method="post" enctype="multipart/form-data"> {% csrf_token %}
      {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
      {% endfor %}

      {% if messages %}
      <div class="form-group">
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if form.non_field_errors %}
      <div class="form-group form-error">
        <p>
        {{ form.non_field_errors }}
        </p>
      </div>
      {% endif %}

      <div class="form-group">
        <label for="id_default_glossing">Glossing type</label>
        {% render_field form.default_glossing class+="form-control" aria-describedby="glossingHelp" placeholder="Enter glossing..." %}
      </div>
      {% if form.default_glossing.errors %}
      <div class="form-group form-error">
        {{ form.default_glossing.errors }}
      </div>
      {% endif %}

      <div class="form-group">
        <label for="id_default_segment">Segment texts into words</label>
        {% render_field form.default_segment class+="" aria-describedby="segmentationHelp" placeholder="Enter segmentation..." %}
      </div>
      {% if form.default_segment.errors %}
      <div class="form-group form-error">
        {{ form.default_segment.errors }}
      </div>
      {% endif %}

      <div class="form-group">
        <label for="id_reading_mode">Reading mode</label>
        {% render_field form.reading_mode class+="form-control" aria-describedby="readingModeHelp" placeholder="Select reading mode..." title="Reading mode" %}
      </div>
      {% if form.reading_mode.errors %}
      <div class="form-group form-error">
        {{ form.reading_mode.errors }}
      </div>
      {% endif %}

      <div class="form-group">
        <label for="id_font_size_percent">Font size (in %)</label>
        {% render_field form.font_size_percent class+="form-control" aria-describedby="fontSizePercentHelp" placeholder="Font size..." title="Font size percent" %}
      </div>
      {% if form.font_size_percent.errors %}
      <div class="form-group form-error">
        {{ form.font_size_percent.errors }}
      </div>
      {% endif %}

      <button class="btn btn-primary btn-user btn-block" type="submit">Update</button>
    </form>
    <hr>
    <p><a href="{% url 'settings' %}" class="btn btn-primary btn-user btn-block"><i class="fas fa-arrow-left"></i> Settings</a></p>
  </div>
</div>

{% endblock %}


{% block extrajs %}
{% endblock %}
