<!-- templates/data/settings.html-->
{% extends 'data/base.html' %}
{% load static %}

{% block title %}Transcrobes User Settings{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Settings</h1>
  <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
</div>

<!-- Content Row -->
<div class="row">
  <!-- Content Column -->
  <div class="col-lg-6 mb-4">
    <!-- Project Card -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Personal details</h6>
      </div>
      <div class="card-body">
        <div><a href="{% url 'password_change' %}">Change your password</a></div>
        <div><a href="{% url 'profile' %}">Update your profile</a></div>
      </div>
    </div>
  </div>
  <!-- Content Column -->
  <div class="col-lg-6 mb-4"> </div>
</div>

<!-- Content Row -->
<div class="row">
  <!-- Content Column -->
  <div class="col-lg-6 mb-4">
    <!-- Project Card -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Application settings</h6>
      </div>
      <div class="card-body">
        <div><a href="{% url 'reader_settings' %}">Ebook reader settings</a></div>
      </div>
      <div class="card-body">
        <div><a href="{% url 'media_settings' %}">Media player settings</a></div>
      </div>
    </div>
  </div>
  <!-- Content Column -->
  <div class="col-lg-6 mb-4"> </div>
</div>

<!-- Content Row -->
<div class="row">
  <!-- Content Column -->
  <div class="col-lg-6 mb-4">
    <!-- Project Card -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">System actions</h6>
      </div>
      <div class="card-body">
        <div><a href="{% url 'initialisation' %}">Reinitialise storage (takes 20+ mins)</a></div>
        <div>
          <button style="width: 200px; margin-top: .5em" class="btn btn-primary btn-user btn-block" onclick="emptyCaches()">Refresh code caches</button>
          <span style="margin-left: 1em; color: green" id="refreshMessage"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Column -->
  <div class="col-lg-6 mb-4"> </div>
</div>


<!-- /.container-fluid -->
{% endblock %}

{% block extrajs %}
<script>
function emptyCaches(){
  const version = "v1";  // FIXME: horrible, nasty hardcoding!!!
  caches.delete(version).then(() => {
    document.querySelector("#refreshMessage").innerText = "Caches emptied";
  });
}
</script>
{% endblock %}
