appdirs==1.4.4
appnope==0.1.0; python_version >= "3.4" and sys_platform == "darwin" or sys_platform == "darwin"
asgiref==3.2.10
astroid==2.4.2
backcall==0.2.0
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
colorama==0.4.3
coverage==5.3
coveralls==2.1.2
decorator==4.4.2
distlib==0.3.1
django==3.1.1
django-cors-headers==3.5.0
django-extensions==3.0.9
django-filter==2.3.0
django-k8s==0.2.9
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
djankiserv==0.0.3
docopt==0.6.2
filelock==3.0.12
flake9==3.8.3.post2
gunicorn==20.0.4
identify==1.5.3
idna==2.10
ipdb==0.13.3
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.3
jedi==0.17.2
lazy-object-proxy==1.4.3
markdown==3.2.2
mccabe==0.6.1
multidict==4.7.6; python_version >= "3.6"
mysqlclient==2.0.1
nodeenv==1.5.0
parso==0.7.1
pexpect==4.8.0; python_version >= "3.4" and sys_platform != "win32" or sys_platform != "win32"
pickleshare==0.7.5
pre-commit==2.7.1
prompt-toolkit==3.0.7
psycopg2-binary==2.8.6
ptyprocess==0.6.0; python_version >= "3.4" and sys_platform != "win32" or sys_platform != "win32" or python_version >= "3.4" and sys_platform != "win32" and (python_version >= "3.4" and sys_platform != "win32" or sys_platform != "win32")
pycodestyle==2.6.0
pyflakes==2.2.0
pygments==2.7.1
pyjwt==1.7.1
pylint==2.6.0
python-coveralls==2.9.3
pytz==2020.1
pyyaml==5.3.1
requests==2.24.0
requests-mock==1.8.0
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
traitlets==5.0.4
urllib3==1.25.10
vcrpy==4.1.0
vcrpy-unittest==0.1.7
virtualenv==20.0.31
wcwidth==0.2.5
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.5.1; python_version >= "3.6"
