<!-- templates/data/import_list.html-->
{% extends 'data/base.html' %}

{% block title %}Imports{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Imports</h1>
</div>

<div class="row">
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-body">
        <p><a href="{% url 'import_create' %}" class="btn btn-primary btn-user btn-block">Create an import</a></p>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr><th>Name</th><th>Date</th><th>Status</th><th>Actions</th></tr>
                    </thead>
                    <tbody>
                      {% for import in object_list %}
                      <tr>
                        <td><a class="btn btn-primary btn-user btn-block" href="{% url 'import_detail' pk=import.id %}">{{ import.title }} ({{import.id}})</a></td>
                        <td>{{ import.created }}</td>
                        <td>{{ import.processing_status }}</td>
                        <td><a class="btn btn-primary btn-user btn-block" href="{% url 'list_create' from_import=import.id %}">Create List</a></td></tr>
                      {% empty %}
                      <tr>
                        <td colspan="5">No imports yet. <a class="list-group-item" href="{% url 'import_create' %}">Create one</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div><!-- /.table-responsive -->
            </div><!-- /.panel-body -->
          </div><!-- /.panel -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </div>
  </div>
</div>


{% endblock %}
