<!-- templates/data/import_detail.html-->
{% extends 'data/base.html' %}
{% load static %}

{% block title %}Import {{ import.title }}{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Import {{ import.title }} ({{ import.id }})</h1>
</div>

<div class="card-body">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr><th>Field</th><th>Value</th></tr>
              </thead>
              <tbody>
                <tr><td>Id</td><td>{{ import.id }}</td></tr>
                <tr><td>Title</td><td>{{ import.title }}</td></tr>
                <tr><td>Description</td><td>{{ import.description|default:"" }}</td></tr>
                <tr><td>Status</td><td>{{ import.processing_status }}</td></tr>
                <tr><td>Created by</td><td>{{ import.user }}</td></tr>
                <tr><td>Created</td><td>{{ import.created }}</td></tr>
                <tr><td>Modified</td><td>{{ import.modified }}</td></tr>
                <tr><td>Import type</td><td>{{ import.process_type }}</td></tr>
                <tr><td>Import file</td><td>{{ import.import_file_name }}</td></tr>
                <tr><th colspan="2">Import Stats</th></tr>
                <tr><td>Nb unique characters*</td><td>{{ import.nb_useful_characters_unique }}</td></tr>
                <tr><td>Nb total characters*</td><td>{{ import.nb_useful_characters_total }}</td></tr>
                <tr><td>Nb unique words*</td><td>{{ import.nb_useful_types }}</td></tr>
                <tr><td>Nb total words*</td><td>{{ import.nb_useful_tokens }}</td></tr>
                <tr><td>Nb grammar</td><td>Coming Soon</td></tr>
                <tr><th colspan="2">Actions</th></tr>
                <tr><td colspan="2"><a class="btn btn-primary btn-user btn-block" href="{% url 'list_create' from_import=import.id %}">Create List from import</a></td></tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>
<hr>
<p><a href="{% url 'import_list' %}" class="btn btn-primary btn-user btn-block"><i class="fas fa-arrow-left"></i> Imports</a></p>
{% endblock %}
