<!-- templates/data/import_detail.html-->
{% extends 'data/base.html' %}
{% load static %}

{% block title %}Import {{ import.title }}{% endblock %}

{% block content %}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Imports</h1>
</div>

<div class="row">
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Import Details</h6>
      </div>

      <div class="card-body">
        <table border="1px">
          <tr><th>Field</th><th>Value</th></tr>
          <tr><td>Title</td><td>{{ import.title }}</td></tr>
          <tr><td>Status</td><td>{{ import.processing_status }}</td></tr>
          <tr><td>Created by</td><td>{{ import.user }}</td></tr>
          <tr><td>Created</td><td>{{ import.created }}</td></tr>
          <tr><td>Modified</td><td>{{ import.modified }}</td></tr>
          <tr><td>Import type</td><td>{{ import.process_type }}</td></tr>
          <tr><td>Import file</td><td>{{ import.import_file_name }}</td></tr>
          <tr><td></td><td>{{ import. }}</td></tr>
          <tr><td>Nb unique characters*</td><td>{{ import.nb_useful_characters_unique }}</td></tr>
          <tr><td>Nb total characters*</td><td>{{ import.nb_useful_characters_total }}</td></tr>
          <tr><td>Nb unique words*</td><td>{{ import.nb_useful_types }}</td></tr>
          <tr><td>Nb total words*</td><td>{{ import.nb_useful_tokens }}</td></tr>
          <tr><td>Nb grammar</td><td>Coming Soon</td></tr>
          <tr><td colspan="2">Actions</td></tr>
          <tr><td colspan="2"><a class="btn btn-primary btn-user btn-block" href="{% url 'list_create' from_import=import.id %}">Create List from import</a></td></tr>
        </table>
      </div>
    </div>
  </div>
</div>

<hr>
<p><a href="{% url 'import_list' %}" class="btn btn-primary btn-user btn-block"><i class="fas fa-arrow-left"></i> Imports</a></p>
{% endblock %}
