<!-- templates/data/list_imports.html-->
{% extends 'data/base.html' %}

{% block title %}List imports{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Imports</h1>
</div>

<div class="row">
  <div class="col-xl-8 col-lg-7">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Upload</button>
    </form>
  <p><a href="{% url 'home' %}">Return home</a></p>
  </div>
</div>

{% endblock %}
