<!-- templates/data/import_detail.html-->
{% extends 'data/base.html' %}
{% load static %}

{% block title %}List {{ userlist.title }}{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">List {{ userlist.title }} ({{ userlist.id }})</h1>
</div>

<div class="card-body">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr><th>Field</th><th>Value</th></tr>
              </thead>
              <tbody>
                <tr><td>Id</td><td>{{ userlist.id }}</td></tr>
                <tr><td>Title</td><td>{{ userlist.title }}</td></tr>
                <tr><td>Description</td><td>{{ userlist.description|default:"" }}</td></tr>
                <tr><td>Status</td><td>{{ userlist.processing_status }}</td></tr>
                <tr><td>Created by</td><td>{{ userlist.user }}</td></tr>
                <tr><td>Created</td><td>{{ userlist.created }}</td></tr>
                <tr><td>Modified</td><td>{{ userlist.modified }}</td></tr>
                <tr><td>Created from import</td><td>{{ userlist.the_import }}</td></tr>
                <tr><td>Shared with others</td><td>{{ userlist.shared }}</td></tr>
                <tr><td>Max size</td><td>{{ userlist.nb_to_take }}</td></tr>
                <tr><td>Real size</td><td>{{ userlist.list_length }}</td></tr>
                <tr><td>Order</td><td>{{ userlist.order_by }}</td></tr>
                <tr><td>Only dictionary words</td><td>{{ userlist.only_dictionary_words }}</td></tr>
                <tr><td>Min import frequency</td><td>{{ userlist.minimum_doc_frequency }}</td></tr>
                <tr><td>Min absolute frequency</td><td>{{ userlist.minimum_abs_frequency }}</td></tr>
                <tr><th colspan="2">Actions</th></tr>
                <tr><td>Add new notes</td><td>{{ userlist.add_notes }}</td></tr>
                <tr><td>Set notes known</td><td>{{ userlist.notes_are_known }}</td></tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>

<p><a href="{% url 'list_list' %}" class="btn btn-primary btn-user btn-block"><i class="fas fa-arrow-left"></i> Lists</a></p>
<hr>

{% endblock %}
