<!-- templates/data/survey.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}A survey for your responding pleasure{% endblock %}

{% block content %}

{% if user.is_authenticated %}

  Hi {{ user.username }}!

  <!--<p><a href="/survey/1">Tell the system what you already know (again)</a></p>-->
  <p><a href="{% url 'surveys' %}">Get started reading!</a></p>

  <p><a href="{% url 'logout' %}">logout</a></p>
  <div id='root' data-survey-id='{{ survey.id }}' data-survey='{{ survey.survey_json }}' data-usersurvey='{{ user_survey.data }}' data-user-id='{{ user }}' />

<script src="{% static 'survey-bundle.js' %}"></script>

{% else %}
  <p>You are not logged in. Please log in or send and email to anton.melser@my.cityu.edu.hk for an account</p>
  <a href="{% url 'login' %}">login</a>
  <!--<p><a href="{% url 'signup' %}">sign up</a></p>-->

{% endif %}

{% endblock %}
