{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="{% static 'data/img/favicon.ico'%}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Transcrobes Authentication">
  <meta name="author" content="Anton Melser">

  <title>{% block title %}{% endblock %}</title>

  <!-- Styles for this template-->
  <link href="{% static 'data/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'data/css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'data/css/custom.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>
<body class="bg-gradient-primary">

  <div>
    <div class="container">
        <div>
    </div>

    <div class="container">
      <main>
        {% block content %} {% endblock %}
      </main>
    </div>

  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'data/js/jquery.min.js' %}"></script>
  <script src="{% static 'data/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript -->
  <script src="{% static 'data/js/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages -->
  <script src="{% static 'data/js/sb-admin-2.min.js' %}"></script>

  {% block extrajs %}{% endblock %}
</body>

</html>
