{% extends 'data/base.html' %}

{% load static %}

{% block extrajs %}
<script>

const data = {
    credentials: "include",
    method:      "GET",
    headers: {
        "X-CSRFToken": csrftoken,
        "Accept": "application/json",
        "Content-Type": "application/json",
    },
};

function updateModel(lvocab) {
    const postData = {
        credentials: "include",
        method:      "POST",
        body: JSON.stringify(lvocab),
        headers: {
            "X-CSRFToken": csrftoken,
            "Accept": "application/json",
            "Content-Type": "application/json",
        },
    };

    fetch('{{ post_ep|safe }}', postData)
        .then(res => res.json())
        .then(data => {
            console.log(data);
            console.log('yay, success');
        }).catch((err) => {
            console.log(err);
        });
}

const vocab = {{ vocab|safe }};

for (const el of document.querySelectorAll(".tiptext")) {
    el.addEventListener("mouseover", () => {
        el.querySelector(".description").style.display = "block";
        vocab[el.dataset.word][0] = 1;
    });
    el.addEventListener("mouseout", () => {
        el.querySelector(".description").style.display = "none";
        vocab[el.dataset.word][0] = 1;
    });
    el.addEventListener("click", () => {
        el.classList.toggle("selectedword");
        vocab[el.dataset.word][1] ^= 1;
    });
}

document.getElementById("form_submit").addEventListener("click", () => {
    document.getElementById("loading-image").style.display = "block";
    updateModel(vocab);
}, false);


</script>
{% endblock %}

{% block body %}
<style>
article {
    -webkit-column-width: 150px;
    -moz-column-width: 150px;
    column-width: 150px;
}
.tiptext {
    /*background:#ccc;*/
    border: 1px #333 solid;
    padding:5px;
    width:80%;
    font-size:150%;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    padding:5px;
    /*width:400px;
    height:400px;*/
    background-color: white;
    opacity: 1;
}
.selectedword {
    color: red;
}

/*Loader*/
.search-loading {
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
}

</style>
<article>

<img id="loading-image" src="{% static 'img/loader.gif' %}" class="search-loading" alt="loader"/>

{% for word in data %}
    <div class="tiptext" data-word="{{word.Simplified}}">{{word.Simplified}}
        <div class="description">
            Pinyin: {{ word.Pinyin }}<br>
            Meaning: {{ word.Meaning }}
        </div>
    </div>
{% endfor %}
<div>

{% csrf_token %}

<form action="{% url 'vocab_list' %}">
    <br>
    <input id="form_submit" class="btn btn-default btn-lg" type="submit" value="Submit" >
</form>
</div>

</article>
{% endblock %}
